body{

margin: 0;
padding: 0;
background-color: #fff;

}


section{
	
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	
}

section .wave
{
	
	position: absolute;
	width: 100%;
	height: 143px;
	bottom: 0;
	left: 0;
	background: url(wave.png);
	
	animation: animate 20s linear infinite;
	
	
}


section .wave:before
{
	
	content: '';
	width: 100%;
	height: 143px;
	top: 0;
	left: 0;
	background: url(wave.png);
	opacity: 0.9;
	animation: animate-reverse 10s linear infinite;
	
	
}

@keyframes animate
{
	
	0%
	{
		background-position: 0;
		
	}
	
	100%
	{
		background-position: 1360px;
		
	}
	
	
}

@keyframes animate-reverse
{
	
	0%
	{
		background-position: 1360px;
		
	}
	
	100%
	{
		background-position: 0;
		
	}
	
	
}