/* typewriter */


.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .1em solid #f0f0f0; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 5.5s steps(40, end),
    blink-caret .8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #f0f0f0 }
}



/* Navigation Progress Bar */





#bar{
    position:fixed;
    background-color:#000;
    width:100%;
    height:0.8%;
}

/* Scroll Bar */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #1b1b1b;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{	
    background-color: #F90; 
    background-image: -webkit-linear-gradient(45deg,
                                              rgba(255, 255, 255, .2) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(255, 255, 255, .2) 50%,
                                              rgba(255, 255, 255, .2) 75%,
                                              transparent 75%,
                                              transparent)
}


 

/* Rotating logo */




.logos {
  border-radius: 50% !important;
  -webkit-transition: -webkit-transform .8s ease-in-out !important;
          transition:         transform .8s ease-in-out !important;
}
.logos:hover {
  -webkit-transform: rotate(4deg) !important;
          transform: rotate(4deg) !important;
}

/* Rotating Text */
.ml7 {
      position: relative;
      font-weight: 900;
      font-size: 3.7em;
}

.ml7 .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.2em;
      padding-right: 0.05em;
      padding-bottom: 0.1em;
      overflow: hidden;
}

.ml7 .letter {
      transform-origin: 0 100%;
      display: inline-block;
      line-height: 1em;
}

/* starting screen effect */

.overlay {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100vh;
      background: #fff;
      top: 0%;
}

.overlay h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bolder;
      letter-spacing: 12px;
}



html, body {
      cursor: url(cursor1.png), auto !important;
}

* {
      box-sizing: border-box;
      margin: 0%;
      padding: 0%;
      font-family: 'Roboto', sans-serif !important;
}

/*--------------- hero section --------------- */



.heads{
	
	position: relative;
	width: 100%;
	height: 100%;
	background: url(bg.jpg);
	background-size: cover;
	background-attachment: fixed;

}


.heads .wave
{
	
	position: absolute;
	width: 100%;
	height: 283px;
	bottom: 0;
	left: 0;
	background-image: url(wave.svg);
	/*animation: animate 16s linear infinite;*/
}


.content .wave0 
{
	
	position: absolute;
	width: 100%;
	height: 71px;
	left: 0;
	margin-top: -69px;
	background: url(wave.png);
	animation: animate 16s linear infinite;
}



@keyframes animate
{
	
	0%
	{
		background-position: 0;
		
	}
	
	100%
	{
		background-position: 685px;
		
	}
	
	
}
.video-container {
	  background: #000;
      position: absolute;
      width: 100%;
      height: 100vh;
      overflow: hidden;
	  border: .2px solid #000;
	  
}

video {
      object-fit: cover;
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
	  
}



.video-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
	  background: #000;
      background-image: -webkit-linear-gradient(45deg,
                                              rgba(0, 0, 0, .2) 25%,
                                              transparent 25%,
                                              rgba(255, 255, 255, .50) 75%,
                                              transparent 75%,
                                              transparent);
      opacity: 0.1;
	 
}

.header {
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%);
}


.header h2 {
      color: #d3ae87;
      font-size: 60px !important;
}

.header h1 {
      color: #fff;
      font-size: 700% !important;
}

@media(max-width: 900px) {
      .header {
            left: 50%;
      }

      .header h1 {
            font-size: 350% !important;
            text-align: center;
      }
	  
	  .scroll-down {
		  
		  margin-bottom: -30% !important;
		  
	  }
	  
	  .side-strip {
		  display: none;
	  }
	  
	  .social-media {
		  
		   display: none;
	  }
	  
}

/*--------------- navigation --------------- */


.line {
      position: relative;
      top: 50%;
      width: 16em;
      margin: 0 auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;transform: translateY(-50%);
}

/*Animation*/

.anim-typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 8em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}





.nav {
      width: 100%;
      height: 80px;
      position: fixed;
      z-index: 2;
}

.nav.scrolled {
      background-color: #161616 !important;
      transition: background-color 500ms linear;
}

.nav #brand {
      float: left;
      display: block;
      margin-left: 40px;
      line-height: 80px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
}

.nav #brand a {
      color: #fff;
      font-family: Roboto !important;
      transition: all 500ms ease-out;
}

.nav #brand a:hover {
      text-decoration: none;
}

.nav #menu {
      float: left;
      right: 40px;
      position: fixed;
}

.nav #menu li {
      padding-left: 40px;
      display: inline-block;
      font-weight: lighter !important;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 80px;
      position: relative;
      transition: all 500ms ease-out;
}

.nav #menu li a {
      font-family: 'Roboto', sans-serif !important;
      color: rgb(256, 256, 256);
      transition: all 500ms ease-out;
}

.nav #menu li a:hover {
      text-decoration: none;
      color: #f3ab1b;
      transition: all 500ms ease-out;
}

#toggle {
      position: absolute;
      right: 40px;
      top: 20px;
      font-weight: 300;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      z-index: 2;
      width: 30px;
      height: 30px;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

.close-btn {
      position: absolute;
      right: 30px;
      font-weight: 300;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      z-index: 2;
      top: -2px;
      line-height: 80px;
}

#resize {
      z-index: 2;
      top: 0px;
      position: fixed;
      background: #0f0f0f;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
}

#resize #menu {
      height: 90px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      text-transform: uppercase;
      min-height: 50px;
      font-weight: bold;
      transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
      margin-top: 140px;
}

#resize #menu li a {
      color: #fff;
}

#resize #menu li a:hover {
      text-decoration: none;
}

#resize.active {
      visibility: visible;
      opacity: 1;
}

@media(max-width: 900px) {
	
	  .button-hand {
		  
		display:none  
	  }
	  
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
            margin-right: 4px;
      }

      nav #brand {
            margin-left: 10px;
      }

      #resize ul li a {
            font-size: 15px;
            font-family: "Poppins" !important;
            font-weight: lighter !important;
            color: rgb(156, 156, 156) !important;
            transition: all 500ms ease-out;
      }

      nav #menu {
            display: none;
      }
	  .heads{
	
	position: relative;
	width: 100%;
	height: 101%;
	background: url(bg-mobile.jpg);
	background-size: cover;
	background-attachment: fixed;
}
}


/* Devfolio Button */

#devfolio-apply-now {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: #3770FF;
  margin-top: 8% !important;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 1000;
  padding: 12px 12%;
  text-transform: none;
  text-align: center;
  display: inline-block;
  background-color:-webkit-linear-gradient(120deg, #48C5BF 24%, #228bc3bf 43%,#9F3869 77%);
}

#devfolio-apply-now:not([disabled]) {
  cursor: pointer;
}

#devfolio-apply-now:hover {
  background-color: #2954BF !important;
}

#devfolio-apply-now .logo {
  /* Please keep the color of Devfolio logo mark either whit
                e (#FFFFFF) or black (#000000) */
  fill: #fecf4f;
}



@media(min-width: 900px) {
      #resize {
		    
            visibility: hidden !important;
      }
	  
	  .button-hand-mobile {
		  
		display:none  
	  }
	 
	
}

/*--------------- about section starts  --------------- */

.content {
      position: absolute;
      margin-top: 100vh;
      width: 100%;
	  
}

section {
      padding: 140px 0;
}

.section-index {
      color: #d3ae87;
      font-weight: bolder;
      font-size: 20px;
      font-family: Poppins !important;
}

.section-heading {
      color: grey;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 18px;
}

.section-subheading {
      color: grey;
      margin: 10px 0;
}

.section-info {
      font-size: 24px;
      color: grey;
}

.more {
      margin: 40px 0;
}



/*--------------- services section starts  --------------- */

.story {
      background: #000;
}

.services {
      background: #f5efef;
}

.service {
      margin: 30px 0;
}

.icon ion-icon {
      font-size: 36px;
      color: #50eb8b;
}

.icon-title {
      font-size: 28px;
      margin-bottom: 4px;
      color: rgb(27, 14, 14);
      font-weight: lighter;
}



.sponsers {
      background: rgb(20, 18, 18);
}

#sponsers h1{
	padding-left: 10px;
    
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#f7ecec;
    font-size: 50px;
}
hr{
      background: white;
}
#sponsers h3{
	padding-left: 10px;
    
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#faf4f4;
    font-size: 20px;
}

/*--------------- our team section starts  --------------- */

/* .team-member, .team-img {
      position: relative;
}

.team-img {
      background: grey;
      height: 340px;
}

.members {
      margin: 50px 0;
}

.team-title {
      margin: 20px 0;
}

.team-title h5 {
      font-size: 28px;
}

.team-title span {
      font-size: 20px;
}

.team-member {
      overflow: hidden;
}

.team-one {
      background: url(team-one.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.team-two {
      background: url(team-two.jpg) no-repeat 50% 50%;
      background-size: cover;
} */

.at-section__title {
      margin: 0 0 70px;
      color: #000;
      font-family: 'Roboto', sans-serif;
      font-size: 7.5rem;
      font-weight: 300;
      line-height: 2.625rem;
      text-align: center;
    }
    .at-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 85vh;
      background: #FFF;
      border: 1px solid #E2E9ED;
    }
    .at-grid[data-column="1"] .at-column {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      flex-basis: 100%;
    }
    .at-grid[data-column="2"] .at-column {
      width: 50%;
      max-width: 50%;
      min-width: 50%;
      flex-basis: 50%;
    }
    .at-grid[data-column="3"] .at-column {
      width: 33.3333333333%;
      max-width: 33.3333333333%;
      min-width: 33.3333333333%;
      flex-basis: 33.3333333333%;
    }
    .at-grid[data-column="4"] .at-column {
      width: 25%;
      max-width: 25%;
      min-width: 25%;
      flex-basis: 25%;
    }
    .at-grid[data-column="5"] .at-column {
      width: 20%;
      max-width: 20%;
      min-width: 20%;
      flex-basis: 20%;
    }
    .at-grid[data-column="6"] .at-column {
      width: 16.6666666667%;
      max-width: 16.6666666667%;
      min-width: 16.6666666667%;
      flex-basis: 16.6666666667%;
    }
    .at-grid[data-column="7"] .at-column {
      width: 14.2857142857%;
      max-width: 14.2857142857%;
      min-width: 14.2857142857%;
      flex-basis: 14.2857142857%;
    }
    .at-grid[data-column="8"] .at-column {
      width: 12.5%;
      max-width: 12.5%;
      min-width: 12.5%;
      flex-basis: 12.5%;
    }
    .at-grid[data-column="9"] .at-column {
      width: 11.1111111111%;
      max-width: 11.1111111111%;
      min-width: 11.1111111111%;
      flex-basis: 11.1111111111%;
    }
    .at-column {
      z-index: 0;
      position: relative;
      background: #FFF;
      box-shadow: 0 0 0 1px #E2E9ED;
      padding: 10px;
      box-sizing: border-box;
      transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
      transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
      transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
    }
    .at-column:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    .at-column:hover {
      z-index: 1;
      box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
      transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
      transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
      transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
    }
    .at-column:hover .at-social {
      margin: 16px 0 0;
      opacity: 1;
    }
    @media (max-width: 800px) {
      .at-column {
        width: 50% !important;
        max-width: 50% !important;
        min-width: 50% !important;
        flex-basis: 50% !important;
      }
      .at-grid {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 120vh;
            background: #FFF;
            border: 1px solid #E2E9ED;
          }
    }
    @media (max-width: 600px) {
      .at-column {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        flex-basis: 100% !important;
      }
      .at-grid {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 200vh;
            background: #FFF;
            border: 1px solid #E2E9ED;
          }
    }
    @media(max-height: 800px){
          .at-user__avatar{
                display: none;
          }
    }
    .at-user {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      text-align: center;
    }
    .at-user__avatar {
      width: 12.5vw;
      height: 12.5vw;
      max-width: 120px;
      max-height: 120px;
      border-radius: 100%;
      margin: 0 auto 20px;
      overflow: hidden;
    }
    .at-user__avatar img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
    .at-user__name {
      color: #313435;
      font-family: 'Roboto', sans-serif;
      font-size: 3.5rem;
      font-weight: 500;
      line-height: 2.625rem;
    }
    .at-user__title {
      color: #6F808A;
      font-family: 'Roboto', sans-serif;
      font-size: 2.000rem;
      line-height: 2.375rem;
    }
    .at-social {
      margin: 0 0 -18px;
      opacity: 0;
      transition: margin 0.2s ease, opacity 0.2s ease;
    }
    .at-social__item {
      display: inline-block;
      margin: 0 10px;
    }
    .at-social__item a {
      display: block;
    }
    .at-social__item svg {
      fill: #515F65;
      display: block;
      height: 18px;
      transition: fill 0.2s ease;
    }
    .at-social__item svg:hover {
      fill: #788D96;
    }
    
    body {
      /* background: #FFF; */
      font-family: 'Roboto', sans-serif ;
      
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    
    .container-fluid {
      max-width: 1170px;
      width: 100%;
      margin: 100px auto;
      padding: 0 20px;
      box-sizing: border-box;
      /* height: 1000px; */
      -webkit-transform-origin: top center;
              transform-origin: top center;
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }

/*--------------- newsletter section starts  --------------- */

.newsletter {
      padding: 140px 0;
      background: #161616;
}

.newsletter input {
      text-transform: uppercase;
}

.newsletter .news-data {
      max-width: 650px;
      margin: 0 auto;
      text-align: center;
      position: relative;
}

.newsletter h1 {
      color: #fff;
      margin-bottom: 40px;
}

.newsletter .form-control {
      height: 50px;
      border-color: #fff;
      border-radius: 0 !important;
}

.form-control:focus {
      box-shadow: none !important;
      border: none !important;
}

::placeholder {
      letter-spacing: 4px;
}

.newsletter .btn {
      min-height: 50px;
      padding: 0 30px;
      border-radius: 0;
      background: #000;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: Poppins !important;
}

/*--------------- contact section starts here --------------- */

#contact-form {
      margin: 5% 0;
}

.contact .icon-title {
      margin-top: 10px;
      color: #000;
}

#contact-form ul {
      list-style: none;
      margin-bottom: 40px;
      border-radius: 0;
}

#contact-form li:last-of-type {
      border-bottom: none;
}

#contact-form label {
      display: block;
      font-size: 22px;
      color: rgb(97, 97, 97);
}

#contact-form input, #contact-form textarea {
      width: 100%;
      padding: 5px;
      border: none;
      resize: vertical;
      background: transparent;
      color: #101010;
      font-weight: bolder;
}

input:focus {
      outline: none !important;
      border: none !important;
}

textarea:focus {
      outline: none !important;
      border: none !important;
}

.textarea {
      border-bottom: 1px solid #c9c9c9;
}

@media(max-width: 900px) {
      #contact-form {
            margin: 5% 0;
            width: 98%;
      }
	  
	   #devfolio-apply-now {
		  padding: 12px 26%;
		  
	  }
	  .video-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
	  background: #000;
      background-image: -webkit-linear-gradient(45deg,
                                              rgba(0, 0, 0, .2) 25%,
                                              transparent 25%,
                                              rgba(255, 255, 255, .5) 90%,
                                              transparent 75%,
                                              transparent);
      opacity: 0.1;
	  }
	  
	
	   
	  

}

/*--------------- footer section starts here --------------- */

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #f3fcfa;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #232525 !important;
}

h3.q1{
	padding-left: 10px;
    
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;

}

#footer h3{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;

}
#footer h4{
	
    font-size: large00;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;

}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    font-size: 15px;
}

#footer ul.social li{
      padding: 2px 0;
      font-size: 20px;
}
#footer ul.social li a i {
    margin-right:40px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
      margin-top:-14px;
      margin-right: 1.5rem;
      padding: 14px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}


#media ul {
      list-style: none;
}

#media ul li {
      display: inline-block;
}

@media(max-width: 900px) {
      .footer .container {
            width: 92% !important;
      }
}


*:before, *:after {
  content: "";
  position: absolute;
}


button {
  background: transparent;
  color: #000;
  color: #000;
  padding: 1rem 10rem;
  font: 20px;
  outline: none;
  cursor: pointer;
  position: absolute;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
  white-space: nowrap;
  background: none;
      border: .3pt solid rgba(184, 140, 93, 0.7);
      text-transform: uppercase !important;
      font-size: 12px !important;
	  font-family: "Tahoma", "Geneva", "sans-serif" !important;
      letter-spacing: 2px;
	    white-space: nowrap;
}

.button-hand button:before {

  content: "👋";
  font-size: 200%;
  right: 0px;
  top: -10px;
  animation: up-down 2.2s infinite;
}
.button-hand button .hands:before, .button-hand button .hands:after {	
  content: "👇";
  font-size: 200%;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.button-hand button .hands:before {
  transform: rotate(-60deg);
  left: -45px;
  top: -10px;
}
.button-hand button .hands:after {
  transform: rotate(170deg);
  right: 30px;
  top: 50px;
}
.button-hand button:hover .hands:before {
  opacity: 1;
  left: -35px;
}
.button-hand button:hover .hands:after {
  opacity: 1;
  top: 40px;
}

@keyframes up-down {
  50% {
    margin-right: -5%;
  }
  75% {
	  transform: rotate(6deg);
  }
  100% {
	  transform: rotate(-6deg);
  }
}
*:focus {
    outline: 0 !important;
}


.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  position: absolute;
  right:    0;
  bottom:   -300%;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 6s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1);
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  60% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}



.social-media {
      position: absolute;
      top: 50%;
	  left: 2%;
      transform: translateY(-50%);
}

.social-media ul li {
      list-style: none;
      color: #fff;
      padding-top: 20px;
}

.side-strip {
      position: absolute;
      top: 50%;
	  right: 0 !important;
	  bottom: 2 !important;
      transform: translateY(-50%);
      transform: rotate(90deg);
      color: #fff;
	  font-size: 16px;
      letter-spacing: 4px;
}

.fa { font-family: 'FontAwesome' !important; }



/*
#color-change{
	
  -webkit-animation-name: blackWhite;
  -webkit-animation-name: blackWhiteFade;
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-duration: 5s; 
	
	
}





@-webkit-keyframes blackWhite {  
  0% { color: #00ff00; }
  25% { color: #ff0000; }
  75% { color: #00ff00; }
  100% { color: #ff0000; }
}

@-webkit-keyframes blackWhiteFade {  
  0% { color: #00ff00; }
  25% { color: #ff0000;}
  75% { color: #00ff00;}
  100% { color: #ff0000; }
}*?